@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --spacing-page: 1024px;
  /* TODO: ライトのカラーテーマは見直したい */
  --color-fd-primary: hsl(25 95% 40%);
  --animate-fd-fade-in: fd-fade-in 1000ms ease;
}

.dark {
  --color-fd-primary: hsl(33 100% 50%);
}
